/* partie page des projets */
/* partie presentation projet */

.begin{
    justify-content: space-around !important;
}

.content-begin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}

.project-title{
    font-size: 3.5em;
}

.project-presentation{
    text-align: center;
    width: 85%;
    font-size: 1.2em;
    line-height: 1.5em;
}

.all-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-to-project{
    font-size: 1.3em;
    padding: 15px;
}

/* partie presentation complete*/

.presentation-complete{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.title{
    margin: 0 !important;
}

.content-presentation{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
}

.value-image-projet{
    border: solid 4px rgba(173, 173, 173, 0.664);
    border-radius: 10px;
    margin: 10vh 0;
}

.value-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10vh 0;
}

.mini-title{
    font-size: 2.5em;
}

.text-presentation{
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 5vh;
    margin-bottom: 0;
}

.value-outils{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10vh 0 !important;
}

.sect-skills{
    width: 100% !important;
}

/* Images */

.all-image{
    background: linear-gradient(to right,hsla(272, 88%, 13%, 0.8),hsla(272, 88%, 13%, 0.8)),url("../images/background.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.content-image{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-self: center;
    width: 90%;
}

.navigable{
    display: flex;
}

.button-nav{
    align-self: center;
    color: white;
    border: none;
    background: none;
    font-size: 3em;
    padding: 0;
}

.button-nav:hover{
    cursor: pointer;
    border-bottom: solid 2px white;
    margin-bottom: -1px;
}

.circle-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    width: 15%;
}

.one-circle{
    background-color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.selected-circle{
   background-color:  hsl(330, 85%, 49%);
}

.images{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.image-present{
    border: solid 7px rgba(173, 173, 173, 0.664);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.back-to-project{
    display: flex;
    justify-content: space-around;
}

.button-back{
    margin: 40px 0px !important;
    font-size: 20px;
}