/* partie page des projets */
/* partie presentation projet */

.project-title{
    font-size: 50px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.project-presentation{
    width: 65%;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 10vh;
}

.link-to-project{
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10vh;
}

/* partie presentation complete*/

.presentation_complete{
    margin-top: 50px;
}

.content_presentation{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: left;
    line-height: 1.5em;
}

.value_image_projet{
    border: solid 7px rgba(173, 173, 173, 0.664);
    border-radius: 10px;
}

.text-presentation{
    font-size: 1em;
    text-align: justify;
}

.set-margin-top{
    margin-top: 10%;
}

.set-margin-bottom{
    margin-bottom: 5%;
}

.disable-margin-bottom{
    margin-bottom: 0;
}

/* video */

.project-video{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.content_video{
    align-self: center;
}

iframe{
    border: solid 7px rgba(173, 173, 173, 0.664);
    border-radius: 10px;
}

/* toutes les images */

.all-image{
    background: linear-gradient(to right,hsla(272, 88%, 13%, 0.8),hsla(272, 88%, 13%, 0.8)),url("../images/background.svg");
    margin-top: 50px;
}

.content_image{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.images{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image_present{
    width: 45%;
    border: solid 7px rgba(173, 173, 173, 0.664);
    border-radius: 10px;
    margin-bottom: 20px;
}

.back{
    display: flex;
    justify-content: space-around;
}

.button_back{
    padding: 40px 0px;
    font-size: 20px;
}

.all-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}